/* @import 'normalize.css'; */

/* Preprocessor Testing Area */

.menu {
  width: 100%;
  a {
    text-decoration: none;
  }
  &::before {
    content: ''
  }
}

$text_color: #232323;

body {
  color: $text_color;
}

$column_layout: 2;

.column {
  @if $column_layout == 2 {
    width: 50%;
    float: left;
  } @else {
    width: 100%
  }
}

@for $i from 1 to 3 {
  p:nth-of-type($i) {
    margin-left: calc( 100% / $i )
  }
}

$social:twitter, facebook, youtube;

@each $icon in ($social){
  .icon-$(icon) {
    background: url('img/$(icon).png')
  }
}

/* ============
 * MIXINS
 * ============ */

 @define-mixin icon $network, $color {
   .button.$(network) {
     background-image: url('img/$(network).png');
     background-color: $color;
     @mixin-content;
   }
 }

 @mixin icon twitter, blue {
   width: 3rem
 }

 @mixin icon youtube, red {
   width: 4rem
 }

@define-extend rounded_button {
  border-radius: 0.5rem;
  padding: 1em;
  border-width: 0.0625rem;
  border-style: solid;
}

.blue_button {
  @extend rounded_button;
  border-color: #2f74D1;
  background-color: #3b8eff;
}

.red_button {
  @extend rounded_button;
  border-color: #c41a1e;
  background-color: #ff2025;
}


/* Testing cssnano */

.css_nano, .css_nano + p, [class*="css_nano"], .css_nano {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  font-weight: normal;
  padding: 1.75rem;
  width: calc(50rem - (2* 1.75rem));
}

a {
  text-decoration: none;
  font-weight: bold;
}

p{
  font-weight: bold;
}


/* LAYOUT */

.column {
  width: 50%;
  float: left;
}

@media (max-width: 50rem) {
  .column {
    width: 100%;
    float: none;
  }
}

/* VISUALS */

.column_one, .column_two {
  border: 0.0625rem solid #ccc;
}

.column_two {
  border-left: 0;
}

@@media (max-width: 50rem) {
  .column_one, .column_two {
    border: 0.0625rem solid #ccc;
  }
  .column_two {
    border-top: 0;
  }
}
/* Testing postcss-cssnext */

@keyframes animationExample {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

.animateThis {
  animation: animationExample 2s;
  display: flex
}

/* Testing postcss-this-will-change */

.thisWillChange {
  will-change: transform
}

/* Testing rgbaFallback for IE 8 */

.rgbaFallback {
  background: rgba(0,0,0,0.5)
}

/* Testing postcss-opacity */

.opacityFallback {
  opacity: 0.5
}

/* Testing postcss-pseudoelements */

.pseudo-element::before {
  content: ''
}

/* Testing postcss-vmin */

.vmFallback {
  width: 50vmin
}

/* Testing node-pixrem */

.remFallback {
  height: 10rem;
  font: 2rem Arial
}

.remFallback::before {
  content: '';
  line-height: 1rem
}
